* {
  margin: 0;
  padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
.font-open-sans {
  font-family: "Work Sans", sans-serif;

}

.logo h1 {
  font-size: 35px;


}

.color-Linear {
  background: linear-gradient(rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border-radius: 10000px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  padding: 12px 22px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;

}



/* main style */
header {
  background-color: #412567;
  padding-top: 30px;

}


nav {
  width: 71%;
  max-width: 1140px;

  margin: 0px auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 90px;
  align-items: center;
}

nav .menu a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#banner .banner-content h2 {
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
  font-style: Extra Bold;
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#banner .banner-content p {

  color: rgb(253, 248, 248);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  flex-direction: column;
  text-align: center;

}

.banner-image {
  position: relative;
}

.mic {
  position: absolute;
  top: 80px;
  left: 120px;

}

.skills {
  padding: 120px 200px 120px 200px;
  background-color: #412567;
}

.skill-container h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  background-color: #412567;
  color: aliceblue;

}




.skill-card {
  background-color: #412567;
}

#sidebar {
  grid-row: span 3;
}

.container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px)50px 50px;
  border-radius: 40px;

}



.container h3 {
  font-size: 24px;
  color: #FFFFFF;
  font-style: bold;
  text-align: left;
}

.container p {
  font-size: 16px;
  color: #666464;
  text-align: left;

}

.video-box {
  background-color: #2f105a;

}
.video-box h1{
 text-align: center;
 color: #eeecec;
}

.video-container iframe {
  border-radius: 24px 24px 0px 0px;
}

.vedios {
 background: rgba(26, 11, 46, 1);
 display: flex;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
  padding: 120px 200px 120px 200px;
}

.video-container h2 {
  font-size: 24px;
  color: #FFFFFF;
}
.video-container P{
  font-size: 16PX;
  color: rgb(144, 163, 163);
}
.host{
  background-color: rgba(26, 11, 46, 1);
  padding: 40px;
  
}
.meet {
background: rgb(30, 3, 66);
 display: flex;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
  padding: 120px 200px 120px 200px;
  border-radius: 20px;
  
  
}
.host h1{
  align-items: center;
 color: #eeecec;
 text-align: center;
 font-size: 48px;
}
.name {
  text-align: left;
  font-size: 22px;
  color: #e4d2d2;
}
.para{
  font-size: 16px;
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
}
  
